{% extends 'base.html.twig' %}

{% block title %}JsonPartie index{% endblock %}

{% block body %}
    <h1>JsonPartie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_fichier</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for json_partie in json_parties %}
            <tr>
                <td>{{ json_partie.id }}</td>
                <td>{{ json_partie.nomFichier }}</td>
                <td>
                    <a href="{{ path('app_json_partie_show', {'id': json_partie.id}) }}">show</a>
                    <a href="{{ path('app_json_partie_edit', {'id': json_partie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_json_partie_new') }}">Create new</a>
{% endblock %}
