<head>
    <meta charset="UTF-8">
    <title>{{ 'Courriel de réinitialisation du mot de passe envoyé'|trans }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ asset('css/style_reset_password.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>

{% block body %}
    <div class="container_check_mail">
    <p class="text_check_mail">
        {{ 'Si un compte correspondant à votre email existe, alors un email vient d’être envoyé qui contient un lien que vous pouvez utiliser pour réinitialiser votre mot de passe. Ce lien expirera dans'|trans}} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p class="text_check_mail">{{ 'Si vous ne recevez pas de courriel, veuillez vérifier votre dossier de pourriels ou'|trans}} <a href="{{ path('app_forgot_password_request') }}">{{ 'réessayer'|trans }}</a>.</p>
    </div>
{% endblock %}
