<head>
    <meta charset="UTF-8">
    {% block title %}Reset your password{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ asset('css/style_reset_password.css') }}" rel="stylesheet"/>

</head>

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Reset your password</h1>

    {{ form_start(requestForm) }}
    {{ form_row(requestForm.email, {
        placeholder: 'johndoe@exemple.com'
    }) }}
        <div>
            <small>
                Enter your email address and we will send you a
                link to reset your password.
            </small>
        </div>

        <button class="btn btn-primary">Send password reset email</button>
    {{ form_end(requestForm) }}
{% endblock %}
