{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
    {% block content %}
        <header class="header_accueil">
            <h1 class="title_header">
                Code Names Duo
            </h1>

            <a href="#" class="button_header">Jouer maintenant</a>
            <div class="card_header">
                <h1 class="title_card">
                    Comment jouer ?
                </h1>
                <p class="text_card_header">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere sit perspiciatis, earum dolorum fugiat vero praesentium ab, voluptates, voluptate aperiam quod tempora officia ad quaerat quis quisquam laboriosam non nulla?
                </p>
            </div>

        </header>

        <section class="section_rules">
            <h1 class="title_rules">
                Règles:
            </h1>

            <p class="text_rules">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere iusto obcaecati deleniti sit odio optio excepturi voluptatum consectetur, esse tenetur porro vitae doloribus mollitia exercitationem animi? Quae dolore iste architecto. Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, aut esse unde veniam tenetur et obcaecati at enim voluptas facere beatae libero fugit perspiciatis itaque aspernatur. Perferendis ab consequuntur dolore! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi temporibus deleniti dolorum ratione cupiditate veritatis ab voluptatibus eum cum, nam quisquam maiores, asperiores illo hic, veniam ut dolorem! Rem, itaque.
            </p>
        </section>


        <section class="section_show_card">
            <div class="container_card">
                <div class="picture_card"></div>
                <p class="card_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis recusandae officia fugit quidem, eius voluptate incidunt necessitatibus nihil? Ullam vel fuga nobis nam maxime minima repellat quaerat quos necessitatibus sapiente. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque modi animi architecto odit inventore laboriosam, explicabo quidem ipsum culpa quaerat, sequi harum, dolor laborum minima enim! Assumenda neque officiis aperiam!</p>
            </div>

            <div class="container_card">
                <div class="picture_card"></div>
                <p class="card_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis recusandae officia fugit quidem, eius voluptate incidunt necessitatibus nihil? Ullam vel fuga nobis nam maxime minima repellat quaerat quos necessitatibus sapiente. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque modi animi architecto odit inventore laboriosam, explicabo quidem ipsum culpa quaerat, sequi harum, dolor laborum minima enim! Assumenda neque officiis aperiam!</p>
            </div>

            <div class="container_card">
                <div class="picture_card"></div>
                <p class="card_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis recusandae officia fugit quidem, eius voluptate incidunt necessitatibus nihil? Ullam vel fuga nobis nam maxime minima repellat quaerat quos necessitatibus sapiente. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque modi animi architecto odit inventore laboriosam, explicabo quidem ipsum culpa quaerat, sequi harum, dolor laborum minima enim! Assumenda neque officiis aperiam!</p>
            </div>

            <div class="container_card">
                <div class="picture_card"></div>
                <p class="card_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis recusandae officia fugit quidem, eius voluptate incidunt necessitatibus nihil? Ullam vel fuga nobis nam maxime minima repellat quaerat quos necessitatibus sapiente. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque modi animi architecto odit inventore laboriosam, explicabo quidem ipsum culpa quaerat, sequi harum, dolor laborum minima enim! Assumenda neque officiis aperiam!</p>
            </div>
        </section>



        <section id="testimonial_area" class="section_padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="testmonial_slider_area text-center owl-carousel">
                            <div class="box-area">
                                <div class="img-area">
                                    <img src="{{ asset('img/1.jpg') }}" alt="temoin">
                                </div>
                                <h5>Person's name</h5>
                                <span>Designation Goes Here</span>
                                <p class="content">
                                    Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                                    ever since
                                </p>
                                <h6 class="socials">
                                    <i class="fa fa-instagram"></i>
                                    <i class="fa fa-facebook"></i>
                                    <i class="fa fa-linkedin"></i>
                                    <i class="fa fa-youtube"></i>
                                </h6>
                            </div>

                            <div class="box-area">
                                <div class="img-area">
                                    <img src="{{ asset('img/2.jpg') }}" alt="">
                                </div>
                                <h5>Person's name</h5>
                                <span>Designation Goes Here</span>
                                <p class="content">
                                    Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                                    ever since
                                </p>
                                <h6 class="socials">
                                    <i class="fa fa-instagram"></i>
                                    <i class="fa fa-facebook"></i>
                                    <i class="fa fa-linkedin"></i>
                                    <i class="fa fa-youtube"></i>
                                </h6>
                            </div>

                            <div class="box-area">
                                <div class="img-area">
                                    <img src="{{ asset('img/3.jpg') }}" alt="">
                                </div>
                                <h5>Person's name</h5>
                                <span>Designation Goes Here</span>
                                <p class="content">
                                    Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                                    ever since
                                </p>
                                <h6 class="socials">
                                    <i class="fa fa-instagram"></i>
                                    <i class="fa fa-facebook"></i>
                                    <i class="fa fa-linkedin"></i>
                                    <i class="fa fa-youtube"></i>
                                </h6>
                            </div>

                            <div class="box-area">
                                <div class="img-area">
                                    <img src="{{ asset('img/4.jpg') }}" alt="">
                                </div>
                                <h5>Person's name</h5>
                                <span>Designation Goes Here</span>
                                <p class="content">
                                    Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                                    ever since
                                </p>
                                <h6 class="socials">
                                    <i class="fa fa-instagram"></i>
                                    <i class="fa fa-facebook"></i>
                                    <i class="fa fa-linkedin"></i>
                                    <i class="fa fa-youtube"></i>
                                </h6>
                            </div>

                            <div class="box-area">
                                <div class="img-area">
                                    <img src="{{ asset('img/5.jpg') }}" alt="">
                                </div>
                                <h5>Person's name</h5>
                                <span>Designation Goes Here</span>
                                <p class="content">
                                    Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                                    ever since
                                </p>
                                <h6 class="socials">
                                    <i class="fa fa-instagram"></i>
                                    <i class="fa fa-facebook"></i>
                                    <i class="fa fa-linkedin"></i>
                                    <i class="fa fa-youtube"></i>
                                </h6>
                            </div>

                            <div class="box-area">
                                <div class="img-area">
                                    <img src="{{ asset('img/6.jpg') }}" alt="">
                                </div>
                                <h5>Person's name</h5>
                                <span>Designation Goes Here</span>
                                <p class="content">
                                    Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                                    ever since
                                </p>
                                <h6 class="socials">
                                    <i class="fa fa-instagram"></i>
                                    <i class="fa fa-facebook"></i>
                                    <i class="fa fa-linkedin"></i>
                                    <i class="fa fa-youtube"></i>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="section_contact">
            <div class="box">
                <div class="form">
                    <h2>Contact</h2>
                    <div class="inputbox">
                        <form method="POST" action="#">
                            <input type="text" required="required">
                            <span>Nom</span>
                            <i></i>
                    </div>
                    <div class="inputbox">
                        <input type="text" required="required">
                        <span>Email</span>
                        <i></i>
                    </div>
                    <div class="inputbox">
                        <input type="text" required="required">
                        <span>Message</span>
                        <i></i>
                    </div>

                    <input type="submit" value="Envoyer" style=" border: none;
            outline: none;
            background: #ff5c5c;
            padding: 10px;
            width: 100px;
            border-radius: 8px;
            color: #fff;
            font-weight: 600;
            cursor: pointer;">
                </div>
            </div>
            </form>
        </section>



        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
        <script>
            $(".testmonial_slider_area").owlCarousel({
                autoplay: true,
                slideSpeed:1000,
                items : 3,
                loop: true,
                nav:true,
                navText:['<i class="fa fa-arrow-left"></i>','<i class="fa fa-arrow-right"></i>'],
                margin: 30,
                dots: true,
                responsive:{
                    320:{
                        items:1
                    },
                    767:{
                        items:2
                    },
                    600:{
                        items:2
                    },
                    1000:{
                        items:3
                    }
                }

            });
        </script>
        {% endblock %}
{% endblock %}
