
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    <link rel="stylesheet" href="{{ asset('css/style_profil.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


</head>
<body>
<nav class="sidebar close">
    <header>
        <div class="image-text">
                <span class="image">
                    <!--<img stc="logo.png" alt="">-->
                </span>

            <div class="text logo-text">
                <span class="name">Code Names</span>
                <span class="profession">Duo</span>
            </div>
        </div>

        <i class="bx bx-chevron-right toggle"></i>
    </header>

    <div class="menu-bar">
        <div class="menu">

            <ul class="menu-links">
                <li class="nav-links">
                    <a href="{{ path('app_user_index', {'id': user.id}) }}" class="icon">
                        <i class="bx bx-user-circle icon" ></i>
                    </a>
                    <a href="{{ path('app_user_index', {'id': user.id}) }}" class="link_profil" data-replace="Profil">
                        <span class="text nav-text">Profil</span>
                    </a>
                </li>

                <li class="nav-links">
                    <a href="{{ path('app_stats_partie_index') }}" class="icon">
                        <i class="bx bx-stats icon" ></i>
                    </a>
                    <a href="{{ path('app_stats_partie_index') }}" class="link_profil" data-replace="Stats">
                        <span class="text nav-text">Stats</span>
                    </a>
                </li>


                <li class="nav-links">
                    <a href="{{ path('app_mes_parties', {'id': user.id}, false, {'_locale' : locale}) }}" class="icon">
                        <i class="bx bx-game icon" ></i>
                    </a>
                    <a href="{{ path('app_mes_parties', {'id': user.id}, false, {'_locale' : locale}) }}" class="link_profil" data-replace="{{ 'Salon'|trans }}">
                        <span class="text nav-text">{{ 'Salon'|trans }}</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="bottom-content">
            <li class="">
                <a href="{{ path('app_accueil', {'_locale': locale }) }}" class="icon">
                    <i class="bx bx-home icon" ></i>
                </a>
                <a href="{{ path('app_accueil', {'_locale': locale}) }}" data-replace="{{ 'Accueil'|trans }}" class="link_profil" >
                    <span class="text nav-text">{{ 'Accueil'|trans }}</span>
                </a>
            </li>
            <li class="">
                <a href="{{ path('app_logout') }}" class="icon">
                    <i class="bx bx-log-out icon"></i>
                </a>
                <a href="{{ path('app_logout') }}" data-replace="{{ 'Deconnexion'|trans }}" class="link_profil" >
                    <span class="text nav-text">{{ 'Deconnexion'|trans }}</span>
                </a>
            </li>


        </div>
    </div>
</nav>

<section class="home">
    <div class="text">Code Name Duo</div>

    <div class="home_container">
            <a href="{{ path('app_create') }}" class="button_partie">{{'Créer une partie'|trans}}</a>

        <div class="partie_container">
            <div class="parties">
                <h2 class="title_partie">{{ 'Mes Parties Rejointes'|trans }}</h2>
                <p>{{ 'Ici se trouves les parties que vous avez rejoints'|trans }}</p>
            {% if partiesrejointes %}
            {% for partie in partiesrejointes %}
                    <div class="card_partie">
                        <p>{{ partie.joueur1 }}</p>
                        <p>VS</p>
                        <p>{{ partie.joueur2 }}</p>
                        <a href="{{ path('app_reprendre', {'id': partie.id, 'joueur': 'j2'}) }}" class="button_rejoindre">{{ 'Reprendre'|trans }}</a>
                    </div>

            {% endfor %}
            {% endif %}
            </div>

            {# PARTIES CREES #}
            <div class="parties">
                <h2 class="title_partie">{{'Mes Partie Crées'|trans}}</h2>
            {% if partiescrees %}
            {% for partie in partiescrees %}


                <div class="card_partie">
                    <p>{{ partie.joueur1 }}</p>
                    <p>VS</p>
                    {% if partie.joueur2 %}
                    <p>{{ partie.joueur2 }}</p>
                    {% else %}
                        <p>{{ 'En attente'|trans }}</p>
                    {% endif %}
                    <a href="{{ path('app_reprendre', {'id': partie.id, 'joueur': 'j1'}) }}" class="button_rejoindre">{{ 'Reprendre'|trans }}</a>
                </div>
                    {% endfor %}
                    {% else %}
                        <p>{{'Vous n\'avez pas encore créé de partie'|trans}}</p>
                    {% endif %}

            </div>

            <div class="parties">
                <h2 class="title_partie">{{ 'Partie en Attente de Joueur'|trans }}</h2>
            {# PARTIES DISPO #}
            {% if partiesdispo %}
            {% for partie in partiesdispo %}

                <div class="card_partie">
                    <p>{{ partie.joueur1 }}</p>
                    <p{{ partie.joueur2 }}</p>
                    <a href="{{ path('app_join', {'id': partie.id, 'joueur': 'j2'}) }}" class="button_rejoindre">{{ 'Rejoindre en tant que J2'|trans }}</a>
                </div>

            {% endfor %}
            {% else %}
                <p class="error_partie_dispo">{{ 'Vous n\'avez pas encore rejoint de partie'|trans}}</p>
            {% endif %}
            </div>
        </div>
    </div>

</section>

<script>
    const body = document.querySelector('body'),
        sidebar = body.querySelector('nav'),
        toggle = body.querySelector(".toggle");
    icons = document.querySelectorAll('.icon');
    profilLink = document.querySelector('.link-profil');

    toggle.addEventListener('click', () => {
        sidebar.classList.toggle("close");
        if(profilLink){
            profilLink.classList.add('active');
        }

        icons.forEach(icon => {
                if (icon.style.display === 'none') {
                    icon.style.display = 'flex';
                } else {
                    icon.style.display = 'none';
                }
            }
        )
    });
</script>
</body>
</html>
