{#

{% block body %}
    <h1>StatsPartie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Partie_joue</th>
                <th>Partie_gagne</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stats_partie in stats_parties %}
            <tr>
                <td>{{ stats_partie.id }}</td>
                <td>{{ stats_partie.partieJoue }}</td>
                <td>{{ stats_partie.partieGagne ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_stats_partie_show', {'id': stats_partie.id}) }}">show</a>
                    <a href="{{ path('app_stats_partie_edit', {'id': stats_partie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_stats_partie_new') }}">Create new</a>
{% endblock %}
#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{{ 'StatsPartie'|trans }}{% endblock %}
    <link href="{{ asset('css/style_profil.css') }}" rel="stylesheet"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


</head>
<body>
<nav class="sidebar close">
    <header>
        <div class="image-text">
                <span class="image">
                    <!--<img stc="logo.png" alt="">-->
                </span>

            <div class="text logo-text">
                <span class="name">Code Names</span>
                <span class="profession">Duo</span>
            </div>
        </div>

        <i class="bx bx-chevron-right toggle"></i>
    </header>

    <div class="menu-bar">
        <div class="menu">

            <ul class="menu-links">
                <li class="nav-links">
                    <a href="{{ path('app_user_index', {'id': user.id}) }}" class="icon">
                        <i class="bx bx-user-circle icon" ></i>
                    </a>
                    <a href="{{ path('app_user_index', {'id': user.id}) }}" class="link_profil" data-replace="Profil">
                        <span class="text nav-text">Profil</span>
                    </a>
                </li>

                <li class="nav-links">
                    <a href="{{ path('app_stats_partie_index') }}" class="icon">
                        <i class="bx bx-stats icon" ></i>
                    </a>
                    <a href="{{ path('app_stats_partie_index') }}" class="link_profil" data-replace="Stats">
                        <span class="text nav-text">Stats</span>
                    </a>
                </li>


                <li class="nav-links">
                    <a href="{{ path('app_mes_parties', {'id': user.id}, false, {'_locale' : locale}) }}" class="icon">
                        <i class="bx bx-game icon" ></i>
                    </a>
                    <a href="{{ path('app_mes_parties', {'id': user.id}, false, {'_locale' : locale}) }}" class="link_profil" data-replace="{{ 'Salon'|trans }}">
                        <span class="text nav-text">{{ 'Salon'|trans }}</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="bottom-content">
            <li class="">
                <a href="{{ path('app_accueil', {'_locale': locale }) }}" class="icon">
                    <i class="bx bx-home icon" ></i>
                </a>
                <a href="{{ path('app_accueil', {'_locale': locale}) }}" data-replace="{{ 'Accueil'|trans }}" class="link_profil" >
                    <span class="text nav-text">{{ 'Accueil'|trans }}</span>
                </a>
            </li>
            <li class="">
                <a href="{{ path('app_logout') }}" class="icon">
                    <i class="bx bx-log-out icon"></i>
                </a>
                <a href="{{ path('app_logout') }}" data-replace="{{ 'Deconnexion'|trans }}" class="link_profil" >
                    <span class="text nav-text">{{ 'Deconnexion'|trans }}</span>
                </a>
            </li>


        </div>
    </div>
</nav>


<section class="home">
    <div class="text">Code Names Duo</div>
    <div class="profil">
        <div class="avatar_img">
            <img src="{{ asset('img/avatar.png') }}" alt="avatar" class="avatar">
            <!--<i class="bx bx-edit bx-edit"></i>-->
        </div>

        
    {% if allpartiesofuser %}
    <div class="liste-record">
        <h1>VOS PARTIES GAGNEES ({{ allpartiesofuser|filter(p => p.victoire == 'victoire')|length }})</h1>
       
            {% for partie in allpartiesofuser %}
                {% if partie.victoire == 'victoire' %}    
                    <div class="card_profil">
                        {# JOUEUR 1 #}
                        {% if partie.joueur1 == user.name %}
                            <p class="number_card ">VOUS</p>
                        {% else %}
                            <p class="number_card ">{{ partie.joueur1 }}</p>
                        {% endif %}
                        AVEC
                        {# JOUEUR 2 #}
                        {% if partie.joueur2 == user.name %}
                            <p class="number_card ">VOUS</p>
                        {% else %}
                            <p class="number_card ">{{ partie.joueur2 }}</p>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
       </div>

        
        <div class="liste-record">
        <h1>VOS PARTIES PERDUES ({{ allpartiesofuser|filter(p => p.victoire == 'defaite')|length }})</h1>
            {% for partie in allpartiesofuser %}
                {% if partie.victoire == 'defaite' %}    
                    <div class="card_profil">
                        {# JOUEUR 1 #}
                        {% if partie.joueur1 == user.name %}
                            <p class="number_card ">VOUS</p>
                        {% else %}
                            <p class="number_card ">{{ partie.joueur1 }}</p>
                        {% endif %}
                        AVEC
                        {# JOUEUR 2 #}
                        {% if partie.joueur2 == user.name %}
                            <p class="number_card ">VOUS</p>
                        {% else %}
                            <p class="number_card ">{{ partie.joueur2 }}</p>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <p class="number_card ">{{'Aucune donnée enregistrées'|trans}}</p>
    {% endif %}


    

</section>
    <script>
        const body = document.querySelector('body'),
            sidebar = body.querySelector('nav'),
            toggle = body.querySelector(".toggle");
        icons = document.querySelectorAll('.icon');
        profilLink = document.querySelector('.link-profil');

        toggle.addEventListener('click', () => {
            sidebar.classList.toggle("close");
            if(profilLink){
                profilLink.classList.add('active');
            }

            icons.forEach(icon => {
                    if (icon.style.display === 'none') {
                        icon.style.display = 'flex';
                    } else {
                        icon.style.display = 'none';
                    }
                }
            )
        });


    </script>
</body>
</html>
