{#

{% block body %}
    <h1>StatsPartie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Partie_joue</th>
                <th>Partie_gagne</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stats_partie in stats_parties %}
            <tr>
                <td>{{ stats_partie.id }}</td>
                <td>{{ stats_partie.partieJoue }}</td>
                <td>{{ stats_partie.partieGagne ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_stats_partie_show', {'id': stats_partie.id}) }}">show</a>
                    <a href="{{ path('app_stats_partie_edit', {'id': stats_partie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_stats_partie_new') }}">Create new</a>
{% endblock %}
#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}StatsPartie{% endblock %}
    <link href="{{ asset('css/style_profil.css') }}" rel="stylesheet"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


</head>
<body>
<nav class="sidebar close">
    <header>
        <div class="image-text">
                <span class="image">
                    <!--<img stc="logo.png" alt="">-->
                </span>

            <div class="text logo-text">
                <span class="name">Code Name</span>
                <span class="profession">Duo</span>
            </div>
        </div>

        <i class="bx bx-chevron-right toggle"></i>
    </header>

    <div class="menu-bar">
        <div class="menu">

            <ul class="menu-links">
                <li class="nav-links">
                    <a href="#">
                        <i class="bx bx-user-circle icon"></i>
                        <span class="text nav-text">Profil</span>
                    </a>
                </li>

                <li class="nav-links">
                    <a href="#">
                        <i class="bx bx-stats icon"></i>
                        <span class="text nav-text">Stats</span>
                    </a>
                </li>


                <li class="nav-links">
                    <a href="#">
                        <i class="bx bx-game icon"></i>
                        <span class="text nav-text">Salon</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="bottom-content">
            <li class="">
                <a href="#">
                    <i class="bx bx-log-out icon"></i>
                    <span class="text nav-text">Logout</span>
                </a>
            </li>


        </div>
    </div>
</nav>


<section class="home">
    <div class="text">Code Name Duo</div>
    <div class="profil">
        <div class="avatar_img">
            <img src="{{ asset('img/avatar.png') }}" alt="avatar" class="avatar">
            <!--<i class="bx bx-edit bx-edit"></i>-->
        </div>

        <div class="card_profil">
            <p class="number_card">8</p>
            <p class="name_card">Parties jouées</p>
        </div>
        <div class="card_profil">
            <p class="number_card">5</p>
            <p class="name_card">Parties gagnées</p>
        </div>
    </div>

</section>
    <script>
        const body = document.querySelector('body'),
            sidebar = body.querySelector('nav'),
            toggle = body.querySelector(".toggle");


        toggle.addEventListener("click", () =>{
            sidebar.classList.toggle("close");
        })


    </script>
</body>
</html>
