<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Code Names {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>

<header>
    <nav class="nav" id="nav">
        <h1 class="title_nav">Code Names</h1>
        <ul class="items">
            <li class="item"><a href="{{ path('app_accueil') }}" class="link">Accueil</a></li>
            {% if app.user %}
            <li class="item"><a href="{{ path('app_user_index', {'id': user.id}) }}" class="link">Profil</a></li>
            <li class="item"><a href="{{ path('app_logout') }}" class="link">Deconnexion</a></li>
            {% else %}
            <li class="item"><a href="{{ path('app_login') }}" class="link">Connexion</a></li>
            {% endif %}
        </ul>
        <a href="#" class="button_nav">JOUER</a>

    </nav>
</header>


{% block content %}

{% endblock %}


</body>
</html>