
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    <link rel="stylesheet" href="{{ asset('css/style_profil.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


</head>
<body>
<nav class="sidebar close">
    <header>
        <div class="image-text">
                <span class="image">
                    <!--<img stc="logo.png" alt="">-->
                </span>

            <div class="text logo-text">
                <span class="name">Code Name</span>
                <span class="profession">Duo</span>
            </div>
        </div>

        <i class="bx bx-chevron-right toggle"></i>
    </header>

    <div class="menu-bar">
        <div class="menu">

            <ul class="menu-links">
                <li class="nav-links">
                    <a href="{{ path('app_user_index', {'id': user.id}) }}">
                        <i class="bx bx-user-circle icon"></i>
                        <span class="text nav-text">Profil</span>
                    </a>
                </li>

                <li class="nav-links">
                    <a href="{{ path('app_stats_partie_index') }}">
                        <i class="bx bx-stats icon"></i>
                        <span class="text nav-text">Stats</span>
                    </a>
                </li>


                <li class="nav-links">
                    <a href="#">
                        <i class="bx bx-game icon"></i>
                        <span class="text nav-text">Salon</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="bottom-content">
            <li class="">
                <a href="{{ path('app_accueil') }}">
                    <i class="bx bx-home icon"></i>
                    <span class="text nav-text">Accueil</span>
                </a>
            </li>
            <li class="">
                <a href="{{ path('app_logout') }}">
                    <i class="bx bx-log-out icon"></i>
                    <span class="text nav-text">Deconnexion</span>
                </a>
            </li>


        </div>
    </div>
</nav>


<section class="home">
    <div class="text">Code Name Duo - Profil de {{ app.user.name }}</div>

    <div class="section_input">
        <div class="info_profil">

                {{ form_start(form, {'attr': {'class': 'form_info'}}) }}
                <div class="input_icon">
                    <div class="grid_input">
                        <label for="info_name" class="text_profil">Name</label>
                        {{ form_row(form.name) }}
                    </div>
                    <i class="bx bx-edit bx-edit"></i>
                </div>


                <div class="input_icon">
                    <div class="grid_input">
                        <label for="info_email" class="text_profil">Email</label>
                        {{ form_row(form.email) }}
                    </div>
                    <i class="bx bx-edit bx-edit"></i>
                </div>

                <!--<div class="login_box">
                <input type="password" id="passw" name="passw" placeholder="Mot de passe" required id="input-pass">
                <i class="ri-eye-off-fill login_eye" id="input-icon"></i>
                </div>-->

                <div class="bouton_connexion">
                    <button type="submit">Sauvegarder les infos </button>
                </div>
                {{ form_end(form) }}

        </div>

        <div class="changer_mdp">
            <h1 class="title_connexion">Changer de Mot de passe </h1>

                <div class="bouton_connexion">
                   <a href="{{ path('app_forgot_password_request') }}" class="button_mdp">Modifier mot de passe</a>
                </div>

        </div>
    </div>
</section>

<script>
    const body = document.querySelector('body'),
        sidebar = body.querySelector('nav'),
        toggle = body.querySelector(".toggle");


    toggle.addEventListener("click", () =>{
        sidebar.classList.toggle("close");
    })


</script>
</body>
</html>
